.container {
    background-color: rgb(0, 68, 255);
    position: relative;
    justify-content: center;
    width: 320px;
    height: 320px;
    border: 6px solid black;
}

.cuadrado {
    position: absolute;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
}

.uno {
    background-color: chocolate;
    top: 10px;
    left: 10px;
}

.dos {
    align-items: end;
    background-color: mediumvioletred;
    top: 10px;
    left: 110px;
}

.tres {
    align-items: start;
    background-color: brown;
    top: 10px;
    left: 210px;
}

.cuatro {
    align-items: flex-start;
    background-color: gold;
    top: 110px;
    left: 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.cinco {
    align-items: flex-end;
    background-color: rgb(2, 174, 2);
    top: 210px;
    left: 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}