.container{
    background-color: rgb(230, 228, 228);
    border: 2px ;
    display :grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-auto-rows: 220px;
    gap: 8px;
    
}
.container div{
    background-color: rgb(149, 216, 235);
    border-radius: 14px;
}
.container div:first-child{
    border: 2px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item2{
    grid-column: 2/4;   
    grid-row: 2/4;  
     
  }
  .item3{
    grid-row-start:4;
    grid-row-end:3;
  }
  .item4{
    grid-row-start:2;
    grid-row-end:4;
    grid-column: 2 / 4;
  }
  .item5{
     grid-row-start:2;
    grid-row-end:1;    
  }
  