.container{
    width: 0%;
    height: 0%;
    background-color: rgb(33, 0, 250);
}
body{
    margin: 0%;
    background-color: rgb(103, 239, 236);
}

.box {
    width: 90px;
    height: 90px;
    position: absolute;
}

.top-left {
    background-color: red;
    top: 0;
    left: 0;
}

.top-right {
    background-color: gray;
    top: 0;
    right: 0;
}

.bottom-left {
    background-color: green;
    bottom: 0;
    left: 0;
}

.bottom-right {
    background-color: blue;
    bottom: 0;
    right: 0;
}

.center {
    background-color: yellow;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}