body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(158, 209, 161);
}

.grid-contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 160px);
    gap: 10px;
    width: 80%;
    max-width: 1500px;
   border: 2px;
    
}

.item {
    border-radius: 10px;
}

/* Posicionamiento de los elementos usando grid-column y grid-row */
.item1 {
    grid-column: 1 / 2; /* Ocupa las columnas 1 y 2 */
    grid-row: 1 / 3;
    background-color: rgb(184, 129, 52);
}

.item2 {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    background-color: rgb(217, 55, 55);
    
}

.item3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: rgb(95, 93, 235);

}

.item4 {
    grid-column: 1 / 2; /* Ocupa las columnas 1 y 2 */
    grid-row: 3 / 4;
    background-color: rgb(113, 174, 0);
}

.item5 {
    background-color: rgb(174, 0, 113);
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}