* {
    margin: 0;
}

.container {
    box-sizing: border-box;
    background-color: #000;
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: auto;
}

.titulo {
    background-color: rgb(231, 189, 74);
    display: flex;
    justify-content: center;
    padding: 8px;
}

.sub-titulo {
    display: flex;
    justify-content: center;
}

.cajas-1,
.cajas-2,
.cajas-3,
.cajas-4,
.cajas-5 {
    width: 135px;
    height: 135px;
    margin: 10px;
    position: relative;
    color: blanchedalmond;
    padding: 0px;
    display: flex;
}

.palabra-1,
.palabra-2,
.palabra-3 {
    margin: 0;
}

.cajas-1,
.cajas-2,
.cajas-3 {
    justify-content: center;
}

.cajas-1 {
    background-color: rgb(126, 11, 11);
    align-items: center;
}

.cajas-2 {
    background-color: rgb(147, 156, 14);
    align-items: flex-end;
}

.cajas-3 {
    background-color: rgb(6, 95, 51);
    align-items: flex-start;
}

.cajas-4 {
    background-color: rgb(165, 96, 6);
}

.cajas-5 {
    background-color: rgb(11, 159, 179);
}

.grupo-1 {
    display: flex;
}

.grupo-2 {
    display: flex;
    flex-direction: column;
}

.cajas-4,
.cajas-5 {
    flex-direction: column;
    justify-content: center;
}

.palabra-4,
.palabra-5 {
    margin: 0;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.cajas-5 {
    align-items: flex-end;
}