.Fond {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 100px;
    row-gap: 20px;
    padding: 5px;
    width: 500px;
    background-color: rgb(16, 15, 15);
    border: 5px solid red;
}

.item {
    padding: 20px;
    color: white;
    font-size: 25px;
    text-align: inherit;
    border: 5px solid black;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    text-shadow: 2px 2px 0px black, -2px 2px 0px black, 2px -2px 0px black, -2px -2px 0px black;
}

.it1 { 
    background-color: rgb(15, 79, 69); 
    grid-column: span 2; 
}

.it2 { 
    background-color: rgb(104, 74, 47); 
}

.it3 { 
    background-color: rgb(27, 67, 94); 
}

.it4 { 
    background-color: rgb(75, 91, 30); 
    grid-column: span 2; 
}